#profile_img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.profile-container{
    text-align: center;
   
}

#slack {
    display: none;
}

#twitter a{
    text-decoration: none;
}

.name {
    padding: 0px;
    text-align: center;
}

#twitter {
    padding: 5px;
    margin-top: -15px;
}