#profile_img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.profile-container{
    text-align: center;
   
}

#slack {
    display: none;
}

#twitter a{
    text-decoration: none;
}

.nomen {
    padding: 0px;
}

#twitter {
    padding: 5px;
    margin-top: -15px;
}

@media screen and (max-width: 768px) {

    .nomen {
        margin-left: 8px;
    }
}

@media screen and (max-width: 425px) {

    .nomen {
        margin-left: 8px;
    }
}