.form-wrap{
    /* padding: 200px; */
    padding-bottom: 30px;
    width: 100%;
}

.name {
    display: flex;
}

.first{
    width: 50%;
    text-align: left;
}
.last{
    width: 50%;
    text-align: left;
}

.form-cover {
    /* padding: 50px; */
    width: 60%;
    align-items: center;
    background: white;
    /* padding-left: 40px;
    padding-right: 40px; */
    margin-left: 20%;
}

#first_name {
    width: 90%;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
}

#last_name {
    width: 98%;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
}

#email {
    width: 99%;
    padding: 7px;
    border-radius: 5px;
    margin-top: 5px;
}

#message {
    width: 100%;
    border-radius: 5px;
    margin-top: -5px;
}

.send-cont{
    text-align: center ;
    width: 100%;
}

#btn_submit {
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-weight: 480;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: rgb(10, 83, 218);
    border: 0.2px solid rgba(197, 196, 196, 0.151);
    text-decoration: none;
}

#btn_submit:hover {
    color: white;
    background: rgb(10, 83, 218);
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .form-cover {
        /* padding: 50px; */
        width: 75%;
        align-items: center;
        background: white;
        /* padding-left: 40px;
        padding-right: 40px; */
        margin-left: 15%;
    }

}

@media screen and (max-width: 425px) {
    .form-cover h1 {
        font-size: 25px;
    }

    .form-cover {
        align-items: center;
        background: white;
        margin-left: 0%;
        width: 100%;
    }

    .name {
        display: block; 
     
    }

    #first_name {
        width: 190%;
        margin-bottom: 10px;
    }

    #last_name {
        width: 190%;
        margin-bottom: -6px;
    }

    #email {
        width: 95%;
    }
}

@media screen and (max-width: 320px) {
    .form-cover h1 {
        font-size: 18px;
    }
}