.form-wrap{
    /* padding: 200px; */
    padding-bottom: 30px;
}

.name {
    display: flex;
}

.first{
    width: 50%;
    text-align: left;
}
.last{
    width: 50%;
    text-align: left;
}

.form-cover {
    padding: 50px;
    align-items: center;
    background: white;
    padding: 200px;
}

#first-input1 {
    width: 90%;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
}

#first-input2 {
    width: 98%;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
}

#email-input {
    width: 99%;
    padding: 7px;
    border-radius: 5px;
    margin-top: 5px;
}

#msg {
    width: 100%;
    border-radius: 5px;
    margin-top: -5px;
}

.send-cont{
    text-align: center ;
    width: 100%;
}

#send {
    text-align: center;
    display: block;
    color: white;
    font-weight: 480;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: rgb(10, 83, 218);
    border: 0.2px solid rgba(197, 196, 196, 0.151);
    text-decoration: none;
}
