.footer{
    display: flex;
    margin-top: 2rem;
    background: #a8a3a321;
    border: 1px solid #8080806b;
    padding: 5px;
    border-radius: 6px;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#right{
    display: flex;
    width: 20%; 
    text-align: center;
}

#right a {
    margin-top: 5px;
}

#left{
    width: 40%;
    margin-left: 10px;
}

#center{
    width: 40%;
    
}

@media screen and (max-width: 950px) {
    .footer {
        display: none;
    }
}
