.container{
    padding: 50px;
}

.menu-icons {
    display: none;
    width: 5%;
}

.menu{
    text-align: center;
   
    display: block;
    border: 1px solid #a8a3a327;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    top: 8%;
    padding: 2px;
}

@media screen and (max-width: 425px) {
.logo {
    display: none;
}

.container{
    padding: 85px;
    background: #bbb9b91e;
    }

.inner-cont{
    background: #ffffffa4;
    padding: 18px;
    border: 1px solid #a8a3a327;
    border-radius: 7px;
    }

.menu-icons {
    display: block;
    border: 1px solid #a8a3a327;
    border-radius: 50%;
    position: absolute;
    left: 69%;
    top: 15%;
    padding: 2px;
    }

#dot {
    margin-left: 1px;
}
.menu{
    display: none;
    width: 5%;
}

}
